Raster_benchmarking/Raster/*/*.asc
Raster_benchmarking/Raster/*/*.asc.aux.xml

Raster_benchmarking/DGGS/*/*.asc
Raster_benchmarking/DGGS/*/*.asc.aux.xml

Raster_benchmarking/data/*/*.gpkg
Raster_benchmarking/data/*/*.parquet
Raster_benchmarking/data/*/*.asc

.ipynb_checkpoints

Raster_benchmarking/Raster/*.tif
Raster_benchmarking/Raster/*.tif.aux.xml

Vector_benchmarking/output-*.gpkg